# Set aliases for zsh and bash (only)
# should only source this for interactive shells

# git dotfile management
# https://www.atlassian.com/git/tutorials/dotfiles
alias git-dotfile='/usr/bin/env git --git-dir="$HOME/._dotfile_repo/" --work-tree="$HOME"'

alias hist_grep='history | grep'

## PLATFORM SPECIFIC
_uname_val=$( uname -s )
case "$_uname_val" in
	Darwin*)
		# color ls; flags are different on BSD
		# use colors set by terminal's theme instead of our own
		alias ls="/bin/ls -bFG"
		alias la="/bin/ls -abFG"

		# sublime text, if installed
		_temp_path="/Applications/Sublime Text.app/Contents/SharedSupport/bin/subl"
		if ! [[ -x "$(command -v subl)" ]] && [[ -e "$_temp_path" ]]; then
			# define as a shell function, since alias can't contain spaces
			# prefer to do this instead of adding to $PATH
			eval "subl () { \"${_temp_path}\" \"\$@\"; }"
			# need to export function?
			# export -f subl
		fi

		# Mathematica, if installed
		_temp_path="/Applications/Mathematica.app/Contents/MacOS/MathKernel"
		if [[ -e "$_temp_path" ]]; then
			alias mathkernel="$_temp_path"
		fi

		# macOS has no `md5sum`, so use `md5` as a fallback
		command -v md5sum > /dev/null || alias md5sum="md5"

		# macOS has no `sha1sum`, so use `shasum` as a fallback
		command -v sha1sum > /dev/null || alias sha1sum="shasum"

		unset _temp_path
		;;
	Linux*)
		;;
	*)
		echo "Unrecognized platform ${_uname_val}"
		;;
esac